dd,
li,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.cursor {
  cursor: pointer;
  user-select: none;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.shepherd-welcome {
  background: red;
}
